* {
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    margin: 0%;
    font-family: 'Prompt', sans-serif, Courier, monospace;
}

body {
    background-color: #009d96;
    width: auto;
}

/*HEADER ES UN FLEX CONTAINER TIENE 3 ITEM div,h1,nav*/
.topheader {
    display:flex;
    flex-direction: column-reverse;
    padding:0px;
    background-color: #ebcb20; 
    opacity: 0.8;
}

.topdivheader {
    margin: 25px;
    display: flex;
    justify-content: center;
}

/*ES UN ELEMENTO DEL DIV.TOPDIVHEADER HIJO DEL TOPHEADER*/
.logo {
    transition: transform 1s linear 0.4s;
    max-width: 100%;
    height: auto;
}

/*ANIMACION DEL LOGO*/
.logo:hover {
    transform:  rotate3d(0, 1, 0, 360deg);
}



.topnavbar{
    margin: 25px;
    align-self: start;
}

/*ESTILO DE BOTONES DEL NAV*/
.menu  {
    border-bottom: 3px solid rgb(255, 243, 56);
    padding: 14px 20px;
    text-decoration: none;
    transition: color .4s ease-out;
    color:black;
    font-size: 1.7em;
    transition: border .3s ease-out;
    height: 3vw;
}

.menu:hover {
    background-color: rgb(255, 103, 231);
    color:rgb(255, 243, 56);
    border-bottom: 10px solid rgb(255, 243, 56);
    border-radius: 10px;
}


.bg-clip {
    background: url(/img/backgroundimg.png);
    background-clip: text;
    color: transparent;
}

h1, h3{
    word-spacing: 7px;
    letter-spacing: 7px;
    transform: rotate(-2deg);
    font-size: 3em;

}

h2 {
    font-size: large;
}



.column {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin:auto;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
}



.imgresp {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* CONTENEDOR FLEXBOX */
.fila {
    display: flex;
    flex-wrap: no-wrap;
  }
  
  
.columna {
    flex: 33.33%;
    padding: 10px;
    
  }

.columna2 {
    flex: 50%;
    padding: 10px;
    
}

.datos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

.pilchas {
    width: 100%;
    border-radius: 15px;
}  

.sucursal {
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

  
  @media screen and (max-width: 992px) {
    .columna {
      flex: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .fila {
      flex-direction: column;
      
    }
  }

  @media screen and (max-width: 600px) {
    .menu {
      font-size: 16px;
    }
  }
.footerfin {
    border: blue 2px solid;
    background-color:  #ebcb20;
    opacity: 0.8;
    text-align: center;
}